<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Hotel</th>
      <th>Guest</th>
      <th>Plan</th>
      <th>Guest num</th>
      <th>Reserve date</th>
      <th>Reserve date num</th>
      <th>Price</th>
      <th>Cancel flag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.hotel_id %></td>
        <td><%= reservation.guest_id %></td>
        <td><%= reservation.plan_id %></td>
        <td><%= reservation.guest_num %></td>
        <td><%= reservation.reserve_date %></td>
        <td><%= reservation.reserve_date_num %></td>
        <td><%= reservation.price %></td>
        <td><%= reservation.cancel_flag %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
