<p style="color: Red"><%= @error %></p>
<h1>宿泊予約一覧</h1>
<div>
  <%= link_to '管理者メニューへ', {controller: :admins, action: :menu} %>
</div>
<table border="1">
  <% if @reservations.present? %>
      <thead>
      <tr>
        <th>予約ID</th><th>宿泊者名</th><th>予約日</th><th>プランタイトル</th><th>宿泊料金</th><th></th>
      </tr>
      </thead>
      <tbody>
      <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.id %></td>
            <td><%= reservation.guest.sei + reservation.guest.mei %></td>
            <td><%= reservation.reserve_date %></td>
            <td><%= reservation.plan.title %></td>
            <td><%= reservation.price %></td>
            <td id="td_cancel"><%= link_to_unless reservation.cancel_flag?, 'キャンセル', {controller: :reservations, action: :cancel, no: reservation.id}, remote: true %></td>
          </tr>
      <% end %>
      <div id="result"></div>
      </tbody>
  <% end %>
</table>